<h1>Listing <%= plural_name.humanize %></h1>

<%%= render :partial => @<%= plural_name %>, :layout => '<%= plural_name %>' %>

<p><%%= link_to 'New <%= singular_name %>', new_<%= singular_name %>_path %></p>
